# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
#*.off
*.old

# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies

# idea
.idea
*.iml

# building
target
build
null
tmp*
temp*
dist
test-output
build.log

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

build.log


.cache




#TODO delete the following

/build
/*/build
/gradlew
/gradlew.bat
/gradle
/.idea/workspace.xml
/.idea/tasks.xml
.gradle
.idea/libraries/Gradle__*.xml